@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header {
    background-color: #07054f;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.search {
    background-color: #00D4FF;
    color: #07054f;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    border: 2px solid #00D4FF;
    font-family: inherit;
    font-size: 1rem;
}

.search::placeholder {
    color: #07054f;
}

.search:focus {
    background-color: #eee;
    outline: none;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    margin-top: 3rem;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 280px;
}

.movie img {
    width: 100%;
}

.movie-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    color: #eee;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #07054f;
    border-radius: 3px;
    padding: 0.25rem 0.5rem;
}

.movie-info span.green {
    color: rgb(20, 203, 7);
}

.movie-info span.orange {
    color: rgb(176, 119, 15);
}

.movie-info span.red {
    color: rgb(188, 40, 40);
}

.overview {
    background-color: #07054f;
    color: #eee;
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    transition: transform 0.3s ease-in;
}

.movie:hover .overview {
    transform: translateY(0);
}